$blue: dodgerblue;
$green: mediumseagreen;
$gold: gold;
$red: indianred;

html{background-color: $gold;}

body {
  background-color: white;
  font-family: 'GTEestiDisplay-Medium',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-size: 1.2em;
  display: inline-block;
  width: 100%;
  margin: 6px 0;
}
.content{
  width: 512px;
  margin: 60px auto;
}
p{
  color: #333;
  line-height: 1.7em;
  margin: 1.2em 0;
}
div.greeting{
  margin: 180px 0 240px;
}
table {
  margin: 0 -100px;
  border-collapse: collapse;
}
td{
  border: 1px solid lightgray;
  padding: 12px 20px;
}
section{
  margin: 80px 0;
  a{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    &:hover{
      border-bottom: 2px solid;
    }
    transition: all .15s;
  }
  h2{
    cursor: pointer;
  }
}
section.web {
  h2, a{
    color: $green;
  }
}
section.mobile {
  h2, a{
    color: $blue;
  }
}

#stars{
  padding: 10px;
  display: none;
}
.hidden{
  display: none;
}
